#dashboard{
    background-color: #e2e2e4;
    padding-top : 30px;
    padding-left : 25px;
    padding-right: 25px;
    
}
.principal{
    min-height: 100vh;
}
.secundaria{
    min-height: 20vh;

}
.card{
    padding: 10px 15px;
     box-shadow: 0 2px 3px #b1aeae; 
     border-width: 0;
}
#tutoria{
    padding-right: 6px;
    font-size: 2rem;
}
#nueva{
    padding-right: 6px;
    color: #4e4c4c;
}
.stats{
    padding-top: 18px;
}
#plus{
    max-width: 100px;
    margin-top : -50px;
}
h1,h2,h3, h4, h5, h6, p, span{
    font-family: 'Ubuntu', sans-serif !important
}
.MuiPickersToolbar-toolbar, .MuiPickersDay-daySelected{
    background-color: #43efc7 !important;
}
.MuiButton-textPrimary{
    color:  #43efc7 !important;
}
.modalButtons{
    border-color:rgb(70, 75, 73);
    color:rgb(70, 75, 73);
}

.modalButtons:hover{
    border-color: #43efc7;
    color:white;
    background-color: #25d1a9;
}
