div{
  font-family: 'Ubuntu', sans-serif;
}
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  
}
#logo{
  max-width : 100%;
  height: auto;
}
#banner {
  padding-top: 1rem;
  min-height: 90vh;
  padding : 3rem 3rem;
  background-color: #484349;
  padding-top: 10rem;
 }
 #contenedorTitulo{
  height : 20px !important
 }
 #emphasis{
   color: #43efc7;
 }
 #categories{
  min-height: 99vh;
  padding : 4rem 4rem;
  background-color: #484349;
  border-style: solid;
  border-color: white;
 }
 #titleCat{
   font-weight: bold;
   text-align: center;
   font-size: 2em;
   color: #fdfffc
 }
 html {
  scroll-behavior: smooth;

 }
 #nombrem{
   font-size: 6.5rem;
   color: #43efc7;
 }
 #lineamiento{
  padding-left: 4rem;
  padding-right : 4rem;
 }
 #slogan{
   color : #fdfffc;
   font-size: 1.7rem;
   padding-left: .4rem;
 }
 .titulo{
  color:white;
 }
 #sobreNosotros{
   color:white;
   border-color:white;
 }
 #empecemosButton{
   border-color: #484349;
   background-color: #43efc7;
   color: #484349;
 }
 #empecemosButton:hover{
  border-color: #484349;
  background-color: #00c99a;
  color : white;
}


 /* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.img-circle {
  border-radius: 50%;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.col-md-offset-2 {
  margin-left: 16.66666667%;
}
#home{
  overflow-x: hidden;
}