.navbar-brand{
    font-weight: bolder;
}
#tutofinder{    
    color: #43efc7;
}
nav{
    background-color: #484349;
}
.nav-link{
    color : #fdfffc !important;
}
#buscarButton{
    margin : 0.8rem;
}
.btnImagen{
    border: none;
}
.btnImagen:focus {
box-shadow: none;
}
div{
    font-family: 'Ubuntu', sans-serif;
  }
  .navbar{
    border-bottom: 2px inset #43efc7;
  }