.nav-link-panel, .nav-link-panel-actual {
    color: black !important;
    transition: all 0.3s;
}
#principalPanel{
    padding: 2rem 2rem ;
}
.nav-link-panel-actual, .nav-link-panel:hover{
    border-left: 1.5px !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
    border-color : #43efc7 !important;
    border-style: solid !important;
}
